{% extends 'base.html.twig' %}

{% set page_title = 'Про цей блог' %}

{% block content %}
    <article class="sol-surface">
        <h2>Про цей блог</h2>
        <p>Мій блог — це місце для роздумів, технічних статей та ідей про програмування, технології та все, що мене цікавить. Тут я ділюсь своїм досвідом, спостереженнями та поглядами на сучасний світ розробки програмного забезпечення.</p>
    </article>
{% endblock %}
