{% extends 'base.html.twig' %}

{% set page_title = 'Зв\'язок' %}

{% block content %}
    <article class="sol-surface">
        <h2>Зв'язок</h2>
        <p>Ви можете зв'язатися зі мною через електронну пошту:
            <a href="mailto: serhii.cherneha@cssm.pp.ua">serhii.cherneha@cssm.pp.ua</a>
        </p>
        <p>Або знайти мене в соцмережах:
            <a href="https://twitter.com/ChernegaSergiy" target="_blank" rel="noopener">Twitter</a>,
            <a href="https://github.com/ChernegaSergiy" target="_blank" rel="noopener">GitHub</a>.
        </p>
    </article>
{% endblock %}
